spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bookstore
    username: root
    password: ""
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  sql:
    init:
      mode: never
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: "63478881255-fblqa1hm9ivpaibcmv2u13f05laaqs00.apps.googleusercontent.com"
            client-secret: "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"
            scope:
              - email
              - profile
